<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template ejs</title>
</head>
<body>
    <h1>Template ejs</h1>
    <h2>Course Express with programando ideas</h2>

    <ul>
        <% lengs.forEach(function (len){%>
        <li>
            <%= len.name%>
        </li>
            <% }) %>
    </ul>

</body>
</html>